body {
  background:  #111111;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

  .titre {
    text-align: center;
    padding-top:  60px;
    padding-bottom: 40px;
    color: #fff;
  }

  .top-bar, .contain-to-grid, .right, .active, .section {
    background-color: #111111;
  }

  .top-bar-section ul > li > a {
background: #111111 !important;
}

 .top-bar-section ul > li > a:hover {
background: #444 !important;
}

.image {
    position: relative; 
}

h4 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   color: #fff;
   text-decoration: bold;

}

h5 { 
   position: absolute; 
   top: 130px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   color: #fff;
   text-decoration: bold;
   font-size: 12;
}

.voir {
  background-color: transparent;
  border: 3px solid #fff;
  text-align: center;
  position: absolute; 
   top: 160px; 
   left: 80px; 
   padding: 10px;
}


/*figure {
  overflow: hidden;
}

figcaption {
   position: absolute;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    text-align: center;
}

figcaption h4 {
    margin: 0 0 20px 0;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    transition: transform 0.3s;
  }

figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    transition: opacity 0.3s, transform 0.3s;
}

figcaption h4, figcaption p {
    transform: translateY(50px);
}

figure button.view {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: opacity 0.3s, transform 0.3s;
}


figcaption,
figcaption h4,
figcaption p,
figure button {
    backface-visibility: hidden;
}

/*HOVER*/

a:hover figure img {
    opacity: 1;
}
 
a:hover figcaption h4,
a:hover figcaption p {
    transform: translateY(0);
}
 
a:hover figcaption p {
    opacity: 0;
}*/
















